<header class="bg-zinc-900 flex flex-col md:flex-row text-center md:text-left p-20 gap-3 rounded-2xl">
    <div >
        <h1 class="text-5xl font-bold pb-1">Protect your Password</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nemo?</p>
        <button class="bg-indigo-700 hover:bg-indigo-600 rounded-md transition-colors px-3 py-2">Start Now</button>
    </div>

    <img src="images/cloud_hosting.svg" alt="" class="w-80 m-auto">
</header> 