---
import { projects } from "../../config/projects.json";
---

<h2 class="text-center font-bold text-5xl mt-16 mb-8">Projects</h2>

{
    projects.map ( project => (
        <div class="flex flex-col md:flex-row text-center md:text-left px-16 gap-x-5 mb-8">
            <div class="flex-1 ">
                <h3 class="font-bold text-3xl my-4" >{project.title}</h3>
                <p class="my-4 text-xl" >{project.description}</p>
                <button class="bg-indigo-700 hover:bg-indigo-600 transition-colors px-3 py-3 rounded-md">More Info</button>
            </div>
            <div class="m-auto">
                <img src={project.image} alt="" class="w-80 my-9 md:my-0 ">
            </div>
        </div>
    ))
}